.footer-description {
    text-align: left;
    font-size: 13px;
    padding-bottom: 10px;
    padding-top:10px; 
    border-left: 1px solid black;
    padding-left: 10px;
    }
   .footer-border {
    border-top: 1px solid black;
    padding-top: 30px;
   }
  .footer-date-createsite{
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding-top: 60px;
  } 