
    .news-description {
    color:black;
    float: left; 
    padding: 5px;
    margin-right: 5px; 
    width: 50%; 
    font-size:17px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    list-style: none;
    }
    .actualy-news {
    border-bottom: 1px solid grey;
    }
    .photo-news {
    text-align: right;
    }
    .actialy-time{
    font-size: 15px;
    font-weight: normal;
    }