.main-news {
    display: block;
    float: left;
    }   
    .main-photo{
    position: relative;
    }
    .main-description {
    position: absolute;
    color: white;
    background-color: rgba(255,255,255,0.25);
    font-family: bold;
    font-size:25px;
    top: 450px;
    left: 100px;
    }
    .main-time {
    position: absolute;
    color: white;
    font-size:17px;
    top: 480px;
    left: 100px;
    }