* {
    box-sizing: border-box;
    }
    .container {
    width: 1170px;
    margin: 0 auto;
    }
    .row:after {
    content: "";
    clear: both;
    display: block;
    }
    .clearfix {
    overflow: hidden;
    }
    [class*="col-"]{
    float: left;
    }
    .col-md-12 {
    width: 100%;
    }
    .col-md-3{
    width: 30%;
    }
    .col-md-9  {
    width: 70%;
    }
    .col-md-8 {
    width: 54%;
    }
    .col-md-4 {
    width: 46%;
    }
    .col-md-2 {
    width: 20%;
    }