.title {
    color:  #1E90FF;
    font-size: 50px;     
    }
    .submit {
        font-size: 17px;
        color: white;
        background-color:  #1E90FF;
        width: 400px;
        height: 30px;
        text-align: center;
        margin-left: 110px;
        margin-top: 20px;
        padding-top: 3px;
        margin-bottom: 60px;
        }
        .title-partner {
            padding-top: 20px;
            color: #1E90FF;
            font-size:23px;
            font-weight: bold;
            text-align: left;
            padding-left: 20px;
            }

 .hr {
     width: 90%;
     
 }