.title-main {
    color:  black;
    font-size: 35px;   
    font-weight: bold;  
    padding-bottom: 20px;
    }
    .news-main {
    padding-left: 5px;
    }
    .time-main {
    padding-left: 5px;
    padding-right: 5px;
     }
    .author-main {
    padding-right: 5px;
    }
    .news {
    display: block;
    float: left;
    }   
    .main-news-time {
    color: black;
    font-size:15px;
    top: 10px;
    left: 10px;
    padding-bottom: 10px;
    }
    .description-main {
    color:black;
    padding-top: 30px;
    font-size:21px;
    font-weight: bold;
    }
    .text-main {
    color: black;
    padding-top: 10px;
    font-size:17px;
    }
    .tag-main {
        padding-top:20px;
        padding-left:5px;
        padding-bottom: 10px;
        font-size:13px;
        font-weight: bold;
        }