.partner-description {
    color:black;
    font-size: 17px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: left;
    border-top: 1px solid grey;
    width: 80%;
    }
.partner {
    padding-left: 25px;
}